In [ ]:
# https://stackoverflow.com/questions/33823091/python-pandas-counting-the-frequency-of-a-specific-value-in-each-row-of-datafra

In [10]:
import pandas as pd
import functools
import numpy as np

In [11]:
list_A = ['dfa', 'x', 'x', 'x', 'dfafa', 'faf', 23, '', '']
list_B = [12, '', 'x', 'dafafaf', 'Thomas', 12, '', 'flaf', 12]
list_C = [3, 'dfaf', '', '', 'XX', 'XX', 'dfadfaf', 'cdfaf', 232]

df_dict = {'A': list_A, 'B': list_B, 'C': list_C}
df = pd.DataFrame(df_dict)
df = df.replace(r'^\s*$', np.nan, regex=True)
df

       A        B        C
0    dfa       12        3
1      x      NaN     dfaf
2      x        x      NaN
3      x  dafafaf      NaN
4  dfafa   Thomas       XX
5    faf       12       XX
6     23      NaN  dfadfaf
7    NaN     flaf    cdfaf
8    NaN       12      232

### 1. Option: with function (searching for specific string in each row)

In [12]:
def search_for_string (df, value):
    col_name_origin = df.columns
    col_len = len(df.columns)
    df.columns = list(range(col_len))
    df.columns = [f'col_{c}' for c in df]
    mask = functools.reduce(np.logical_or, [df['col_{}'.format(i)].str.startswith(value, na = False) for i in range(col_len)])
    df = df.loc[mask]
    df.columns = col_name_origin
    return df

In [13]:
df_final = search_for_string (df, value = 'XX')
df_final

       A       B   C
4  dfafa  Thomas  XX
5    faf      12  XX

### 2. Option: one-liner

In [14]:
def my_string_func (df, value):
    df['count_value'] = (df == value).sum(axis=1)
    df = df[df['count_value'] > 0]
    return df

In [16]:
df_final_2 = my_string_func (df, 'XX')
df_final_2

C:\Users\tdornigg\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\ops\__init__.py:1115: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

   col_0   col_1 col_2  count_value
4  dfafa  Thomas    XX            1
5    faf      12    XX            1