Sources:<br>
https://stackoverflow.com/questions/39993238/vlookup-between-2-pandas-dataframes

https://stackoverflow.com/questions/42370977/how-to-save-a-new-sheet-in-an-existing-excel-file-using-pandas

In [64]:
import pandas as pd
from pandas import ExcelWriter
from openpyxl import load_workbook

In [65]:
path = 'test.xlsx'
writer = pd.ExcelWriter(path, engine = 'openpyxl')
book = load_workbook(path)
writer.book = book

In [66]:
xl = pd.ExcelFile(path)
xl.sheet_names

['HR', 'Berechtigung', 'Vlookup']

## Step_1: Read in WorkSheet 1

In [67]:
df_1= pd.read_excel(open('test.xlsx', 'rb'), sheet_name='HR', dtype={'Name': str, 'Gender': str})
df_1

      Name   Austritt  Sport Gender Berechtigung
0   Thomas 2019-01-01    Bad      m      Inaktiv
1    Marie 2019-01-02    Fut      f      Inaktiv
2     Lisa 2019-01-03   nein      f      Inaktiv
3     Theo 2019-01-04    Fut      m      Inaktiv
4      Leo 2019-01-05  Kunst      m      Inaktiv
5    Theri 2019-01-06  Laser      m      Inaktiv
6     Joni 2019-01-07    Tec      m      Inaktiv
7     Meli 2019-01-08  Tisch      f      Inaktiv
8    Michi 2019-01-09   Fuss      f      Inaktiv
9  Theresa 2019-01-10  Laser      f      Inaktiv

## Step_2: Read in WorkSheet 2

In [38]:
df_2= pd.read_excel(open('test.xlsx', 'rb'), sheet_name='Berechtigung')
df_2

     Name
0  Thomas
1   Marie
2    Lisa
3    Theo
4   Theri
5    Joni
6   Michi

## Possible Solutions

### Solution_1: Simple Merge

In [39]:
df3 = pd.merge(df_1, df_2)[['Name', 'Berechtigung', 'Gender']]
df3

     Name Berechtigung Gender
0  Thomas      Inaktiv      m
1   Marie      Inaktiv      f
2    Lisa      Inaktiv      f
3    Theo      Inaktiv      m
4   Theri      Inaktiv      m
5    Joni      Inaktiv      m
6   Michi      Inaktiv      f

### Solution_2: Inner Join

In [40]:
result_2 = df_1.merge(df_2, on = 'Name', how = 'inner')
result_2

     Name   Austritt Sport  Gender Berechtigung
0  Thomas 2019-01-01    Bad      m      Inaktiv
1   Marie 2019-01-02    Fut      f      Inaktiv
2    Lisa 2019-01-03   nein      f      Inaktiv
3    Theo 2019-01-04    Fut      m      Inaktiv
4   Theri 2019-01-06  Laser      m      Inaktiv
5    Joni 2019-01-07    Tec      m      Inaktiv
6   Michi 2019-01-09   Fuss      f      Inaktiv