In [17]:
import pandas as pd
import numpy as np

In [18]:
a = [4.2, 3.5, 7.8, 8, 9, 3.6]
b = ['Movie_A', 'Movie_B', 'Movie_C', 'Movie_D', 'Movie_E', 'Movie_F']
dict_df = dict(zip(b, a))
df =  pd.DataFrame(dict_df.items(), columns=['Movie', 'Ranking'])

In [19]:
df.head()

     Movie  Ranking
0  Movie_A      4.2
1  Movie_B      3.5
2  Movie_C      7.8
3  Movie_D      8.0
4  Movie_E      9.0

## Binning Command

In [22]:
op_labels = ['bad', 'moderate', 'good']
category = [0, 4, 7, 10]
df['labels'] = pd.cut(df['Ranking'], labels=op_labels, bins=category, include_lowest=False)

In [23]:
df.head()

     Movie  Ranking    labels
0  Movie_A      4.2  moderate
1  Movie_B      3.5       bad
2  Movie_C      7.8      good
3  Movie_D      8.0      good
4  Movie_E      9.0      good