***Sources***
- https://towardsdatascience.com/a-quick-tip-for-pulling-data-from-a-pandas-dataframe-using-sql-queries-bbe3b39d17d

In [1]:
import pandas as pd
import pandasql as ps
import numpy as np

In [11]:
df = pd.DataFrame([[1231, 'Customer A', '123 Street', np.nan, 234],
                   [1232, 'Customer A', np.nan, '333 Street', 324],
                   [1233, 'Customer B', '444 Street', '333 Street', 424],
                    [1234, 'Customer B', '444 Street', '666 Street', 434]], 
                    columns= ['ID', 'Customer', 'Billing_Address', 'Shipping_Address', 'Volume'])

df.head()

     ID    Customer Billing_Address Shipping_Address  Volume
0  1231  Customer A      123 Street              NaN     234
1  1232  Customer A             NaN       333 Street     324
2  1233  Customer B      444 Street       333 Street     424
3  1234  Customer B      444 Street       666 Street     434

In [12]:
q1 = """SELECT * FROM df where ID = 1234 and Billing_Address = '444 Street' """

# sqldf = fixed command --> df has nothing to do with dataframe name from above
database = ps.sqldf(q1, locals())
database

     ID    Customer Billing_Address Shipping_Address  Volume
0  1234  Customer B      444 Street       666 Street     434