In [51]:
import pandas as pd
import random

In [53]:
df = pd.DataFrame({'svn_changes':['r123456','RowValueRow','ValueRowValue',
                                  'some_string_string','r234566','ValueRowValue',
                                  'some_string_string','r123789','something_here',
                                  'ValueRowValue','String_2','String_4', 'r234567']})

In [43]:
# assign new number everytime row starts with "r"
df['Number'] = df['svn_changes'].str.contains('r\d+').cumsum()
df

           svn_changes  Number
0              r123456       1
1          RowValueRow       1
2        ValueRowValue       1
3   some_string_string       1
4              r234566       2
5        ValueRowValue       2
6   some_string_string       2
7              r123789       3
8       something_here       3
9        ValueRowValue       3
10            String_2       3
11            String_4       3
12             r234567       4

In [44]:
df_filter = df[df['svn_changes'].str.match('\D+\d{6}')]
df_filter

   svn_changes  Number
0      r123456       1
4      r234566       2
7      r123789       3
12     r234567       4

In [47]:
list_of_items = set(df['Number'].tolist())
list_of_items

{1, 2, 3, 4}

In [49]:
group_of_items = list_of_items             
num_to_select = 2                           
list_of_random_items = random.sample(group_of_items, num_to_select)
list_of_random_items

[3, 4]

In [50]:
sample_df = df[df['Number'].isin(list_of_random_items)]
sample_df

       svn_changes  Number
7          r123789       3
8   something_here       3
9    ValueRowValue       3
10        String_2       3
11        String_4       3
12         r234567       4